# Lecture du Fichier de coordonnées de l'ISS

## [TODO] Introduction

https://spotthestation.nasa.gov/trajectory_data.cfm

After the header, ISS state vectors in the Mean of J2000 (J2K) reference frame are listed at four-minute intervals spanning a total length of 15 days. During reboosts (translation maneuvers), the state vectors are reported in two-second intervals. Each state vector lists the time in UTC; position X, Y, and Z in km; and velocity X, Y, and Z in km/s.

Orbit Ephemeris Message (OEM)

    https://nasa-public-data.s3.amazonaws.com/iss-coords/current/ISS_OEM/ISS.OEM_J2K_EPH.txt

In [1]:
# Affichage des 50 premières lignes du fichier
with open("ISS.OEM_J2K_EPH.txt") as file:
    file_lines = file.readlines()
    for line in file_lines[:50]:
        print(line, end='')

CCSDS_OEM_VERS = 2.0
CREATION_DATE  = 2023-03-24T22:55:31.604
ORIGINATOR     = NASA/JSC/FOD/TOPO

META_START
OBJECT_NAME          = ISS
OBJECT_ID            = 1998-067-A
CENTER_NAME          = Earth
REF_FRAME            = EME2000
TIME_SYSTEM          = UTC
START_TIME           = 2023-03-24T18:41:29.004
USEABLE_START_TIME   = 2023-03-24T18:41:29.004
USEABLE_STOP_TIME    = 2023-04-08T18:41:29.004
STOP_TIME            = 2023-04-08T18:41:29.004
META_STOP

COMMENT Source: This file was produced by the TOPO office within FOD at JSC.
COMMENT Units are in kg and m^2
COMMENT MASS=473832.00
COMMENT DRAG_AREA=1618.40
COMMENT DRAG_COEFF=2.50
COMMENT SOLAR_RAD_AREA=0.00
COMMENT SOLAR_RAD_COEFF=0.00
COMMENT Orbits start at the ascending node epoch
COMMENT ISS first asc. node: EPOCH = 2023-03-24T18:57:36.042 $ ORBIT = 2869 $ LAN(DEG) = -79.71025
COMMENT ISS last asc. node : EPOCH = 2023-04-08T18:04:09.079 $ ORBIT = 3101 $ LAN(DEG) = -155.16623
COMMENT Begin sequence of events
COMMENT TRAJECTORY EVENT SUMMARY:
COMMENT
COMMENT |       EVENT        |       TIG        | ORB |   DV    |   HA    |   HP    |
COMMENT |                    |       GMT        |     |   M/S   |   KM    |   KM    |
COMMENT |                    |                  |     |  (F/S)  |  (NM)   |  (NM)   |
COMMENT =============================================================================
COMMENT  68S Undocking         087:09:57:30.000             0.0     426.1     408.5
COMMENT                                                    (0.0)   (230.1)   (220.6)
COMMENT
COMMENT  GMT 089 Cygnus Reb    089:16:48:00.000             1.1     425.4     408.5
COMMENT                                                    (3.6)   (229.7)   (220.6)
COMMENT
COMMENT =============================================================================
COMMENT End sequence of events
2023-03-24T18:41:29.004 4482.285420000000 -1945.879050000000 -4735.454317000000 5.09219434389200 4.98726885701900 2.77117464698200
2023-03-24T18:45:29.004 5527.582021721780 -693.041910434021 -3906.729726716780 3.56540173806362 5.38973767079770 4.09309236076969
2023-03-24T18:49:29.004 6172.791602633000 609.934836105927 -2794.459786492350 1.77818576312299 5.40238598829652 5.11957356925636
2023-03-24T18:53:29.004 6370.538917556080 1868.675169607530 -1479.074800713580 -0.14082078658941 5.02314240591378 5.77519193464443
2023-03-24T18:57:29.004 6105.797590828830 2991.735742419720 -56.034355105210 -2.05231731603544 4.27846252673376 6.01100492339018
2023-03-24T19:01:29.004 5397.230943018260 3897.316006368070 1371.066939141830 -3.81659291821956 3.22181617810625 5.80865761853326
2023-03-24T19:05:29.004 4296.024239213490 4519.356773847600 2698.117715293520 -5.30417454958154 1.93011394068020 5.18232000350611
2023-03-24T19:09:29.004 2882.155868270740 4812.481059746170 3828.235576946000 -6.40610015169261 0.49763732634250 4.17760443797181
2023-03-24T19:13:29.004 1258.486191470030 4755.313506119620 4678.908947847050 -7.04180041969910 -0.97112276696887 2.86790003711797

[TODO] Explications du contenu du fichier

## Différenciation des phases de poussée

In [2]:
import pandas as pd

# Sélection des lignes de commentaires
comments = [line for line in file_lines if line.startswith("COMMENT")]
# Stockage de l'index de la dernière ligne de commentaire en prévision de l'accès aux données
last_comment_index = file_lines.index(comments[-1])
# Stockage des données dans un DataFrame, à partir des lignes suivant le dernier commentaire
df = pd.read_csv("ISS.OEM_J2K_EPH.txt", skiprows=last_comment_index+1,
                 sep=" ", names=['datetime', 'x', 'y', 'z', 'vx', 'vy', 'vz'],
                 parse_dates=[0], infer_datetime_format=True)

df.datetime.diff().groupby(by=df.datetime.diff().rename('timedelta')).count().to_frame('count')

                        count
timedelta
0 days 00:00:00.727000      1
0 days 00:00:02           561
0 days 00:00:30.996000      1
0 days 00:01:29.004000      1
0 days 00:02:00             1
0 days 00:02:30             1
0 days 00:03:17.273000      1
0 days 00:03:30             1
0 days 00:04:00          5392

In [3]:
# Ajout d'une colonne spécifiant le nombre de minisecondes depuis la dernière position
df['delta'] = (df.diff().datetime.dt.total_seconds() * 1000).fillna(-1).astype(int)

In [4]:
# Affichage des deux enregistrements précédant et suivant les delta anormaux
for i in df[1:].query("delta != 2000 and delta != 240000").index:
    display(df[i-2:i+3].style.apply(lambda r:(r.size-1)*['']+['background-color: pink'
                                                              if i==r.name else ''], axis = 1))

Les écarts non-standards débutent ou terminent les poussées, ou sont sporatiques dans le jeu de données.
On retiendra donc uniquement les intervales de 2 secondes pour représenter les poussées.

In [5]:
# poussée

In [6]:
import numpy as np

# Les enregistrements datant de deux secondes après leur précédent sont marqués en tant que poussée
df['on_thrust'] = np.isclose(df.diff().datetime.dt.total_seconds(), 2)

# Initialisation des valeurs d'épisode de poussée
current_state = df.iloc[0]['on_thrust']
current_tid = 0

def thrust_episode(on_thrust):
    """Fonction pour le parours de proche en proche des états de poussée pour la définition d'épisodes."""
    global current_state, current_tid
    # Si l'état actuel est différent du dernier état enregistré
    if on_thrust != current_state:
        # Changement d'état et d'identifiant d'épisode.
        current_state = on_thrust
        current_tid += 1
    # Renvoi de l'indentifiant actuel
    return current_tid

# Un épsiode est une séquence contiguë d'états de poussée
df['thrust_episode'] = df['on_thrust'].apply(thrust_episode)

# Décompte des épisodes identifiés
df.groupby('thrust_episode').count()[['on_thrust']]

                on_thrust
thrust_episode
0                    2134
1                     561
2                    3266

## Classe pour la bibliothèque

Pour permettre l'utilisation simple des données de ce ficiher, nous définissons une classe `ISS_Position` pour notre bibliothèque. Une instance de cette classe permet d'accéder directement aux métadonnées, commentaires et données contenus dans le fichier par des méthodes respectivement nommées `get_metadata()`, `get_comments()` et `get_data()`.

In [7]:
class ISS_Position:
    """Classe d'extraction des données de position de l'ISS."""
    def __init__(self, filename="ISS.OEM_J2K_EPH.txt"):
        """Reçoit en paramètre le nom du fichier de données. Utilise "ISS.OEM_J2K_EPH.txt" par défaut."""
        self.__parse_source(filename)
        
    def __parse_source(self, filename):
        """Analyse syntaxique du fichier."""
        with open(filename) as file:
            source_lines = file.readlines()
        # Extraction des métadonnées
        self.__parse_source_meta(source_lines)
        # Extraction des commentaires
        self.__parse_source_comments(source_lines)
        # Extraction des données
        self.__parse_data(filename)
    
    def __parse_source_meta(self, source_lines):
        """Extraction des métadonnées du fichier."""
        # Détection des lignes de métadonnées
        meta = slice(source_lines.index('META_START\n')+1, source_lines.index('META_STOP\n'))
        # Enregistrement des métadonnées dans un dictionnaire
        self.meta = {key.strip(): pd.to_datetime(value.strip()) if key.strip().endswith('_TIME') else value.strip()
                     for line in source_lines[meta]
                     for (key, value) in [line.split('=', 1)]
                    }
    
    def __parse_source_comments(self, source_lines):
        """Extraction des commentaires du fichier."""
        # Sélection des lignes de commentaires
        comments = [line for line in source_lines if line.startswith("COMMENT")]
        # Stockage de l'index de la dernière ligne de commentaire en prévision de l'accès aux données
        self.__last_comment_index = source_lines.index(comments[-1])
        # Enregistrement des commentaires dans une liste
        self.comments = [comment[7:].strip() for comment in comments]
    
    def __parse_data(self, filename):
        """Extraction des données du fichier."""
        # Enregistrement des données dans un DataFrame, à partir des lignes suivant le dernier commentaire
        self.data = pd.read_csv(filename, skiprows=self.__last_comment_index+1,
                                sep=" ", names=['datetime', 'x', 'y', 'z', 'vx', 'vy', 'vz'],
                                parse_dates=[0], infer_datetime_format=True)
        # Ajoute les annotations de poussée
        self.__add_thrust_metadata()
        
    def __add_thrust_metadata(self):
        """Ajout des annotation de poussé et épisodes de poussée."""
        # Les enregistrements datant de deux secondes après leur précédent sont marqués en tant que poussée
        self.data['on_thrust'] = np.isclose(self.data.diff().datetime.dt.total_seconds(), 2)
        # Initialisation des valeurs d'épisode de poussée
        self.__current_state = self.data.iloc[0]['on_thrust']
        self.__current_tid = 0
        # Un épsiode est une séquence contiguë d'état de poussée
        self.data['thrust_episode'] = self.data['on_thrust'].apply(self.__thrust_episode)
        # Suppression des marqueurs inutiles
        del self.__current_state, self.__current_tid

    def __thrust_episode(self, on_thrust):
        """Méthode pour le parours de proche en proche des états de poussée pour la définition d'épisodes."""
        # Si l'état actuel est différent du dernier état enregistré
        if on_thrust != self.__current_state:
            # Changement d'état et d'identifiant d'épisode.
            self.__current_state = on_thrust
            self.__current_tid += 1
        # Renvoi de l'indentifiant actuel
        return self.__current_tid


    def get_metadata(self):
        # Retourne les métadonnées en utilisant un DataFrame (pour son rendu élégant à l'affichage)
        return pd.DataFrame(self.meta.values(), self.meta.keys(), ['Metadata'])
    
    def get_comments(self):
        # Retourne les commentaires en tant que bloc de texte avec retours à la ligne
        return '\n'.join(self.comments)
    
    def get_data(self):
        # Retourne le DataFrame des données
        return self.data

## Test de la classe

Pour tester notre classe, nous l'instancions et appellons ses méthodes publiques.

In [8]:
# Instanciation de la classe
iss_position = ISS_Position()

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: invalid value encountered in arccos
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [9]:
# Accès aux métadonnées
iss_position.get_metadata()

                                      Metadata
OBJECT_NAME                                ISS
OBJECT_ID                           1998-067-A
CENTER_NAME                              Earth
REF_FRAME                              EME2000
TIME_SYSTEM                                UTC
START_TIME          2023-03-24 18:41:29.004000
USEABLE_START_TIME  2023-03-24 18:41:29.004000
USEABLE_STOP_TIME   2023-04-08 18:41:29.004000
STOP_TIME           2023-04-08 18:41:29.004000

In [10]:
# Accès aux commentaires
print(iss_position.get_comments())

Source: This file was produced by the TOPO office within FOD at JSC.
Units are in kg and m^2
MASS=473832.00
DRAG_AREA=1618.40
DRAG_COEFF=2.50
SOLAR_RAD_AREA=0.00
SOLAR_RAD_COEFF=0.00
Orbits start at the ascending node epoch
ISS first asc. node: EPOCH = 2023-03-24T18:57:36.042 $ ORBIT = 2869 $ LAN(DEG) = -79.71025
ISS last asc. node : EPOCH = 2023-04-08T18:04:09.079 $ ORBIT = 3101 $ LAN(DEG) = -155.16623
Begin sequence of events
TRAJECTORY EVENT SUMMARY:

|       EVENT        |       TIG        | ORB |   DV    |   HA    |   HP    |
|                    |       GMT        |     |   M/S   |   KM    |   KM    |
|                    |                  |     |  (F/S)  |  (NM)   |  (NM)   |
=============================================================================
68S Undocking         087:09:57:30.000             0.0     426.1     408.5
(0.0)   (230.1)   (220.6)

GMT 089 Cygnus Reb    089:16:48:00.000             1.1     425.4     408.5
(3.6)   (229.7)   (220.6)

=============================================================================
End sequence of events

In [11]:
# Accès aux données
iss_position.get_data()

,datetime,x,y,z,vx,vy,vz,r,theta,phi,on_thrust,thrust_episode
0,2023-03-24 18:41:29.004,4482.285420,-1945.879050,-4735.454317,5.092194,4.987269,2.771175,4885.958699,2.892744,-0.409575,False,0
1,2023-03-24 18:45:29.004,5527.582022,-693.041910,-3906.729727,3.565402,5.389738,4.093092,5570.508358,2.348049,-0.124728,False,0
2,2023-03-24 18:49:29.004,6172.791603,609.934836,-2794.459786,1.778186,5.402386,5.119574,6202.627041,2.038153,0.098491,False,0
3,2023-03-24 18:53:29.004,6370.538918,1868.675170,-1479.074801,-0.140821,5.023142,5.775192,6638.842814,1.795473,0.285327,False,0
4,2023-03-24 18:57:29.004,6105.797591,2991.735742,-56.034355,-2.052317,4.278463,6.011005,6799.352244,1.579038,0.455602,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5956,2023-04-08 18:28:00.000,2934.956126,3047.441288,5312.015084,-5.297560,5.528618,-0.248731,4231.569198,NaN,0.804199,False,2
5957,2023-04-08 18:32:00.000,1572.344931,4247.491496,5059.514540,-5.988345,4.410671,-1.842741,4529.736428,NaN,1.216256,False,2
5958,2023-04-08 18:36:00.000,95.433167,5138.767287,4438.176112,-6.244148,2.971065,-3.303597,5140.085105,0.528739,1.552227,False,2
5959,2023-04-08 18:40:00.000,-1388.411239,5656.152123,3493.021281,-6.045635,1.313880,-4.524614,5824.365684,0.927638,1.811506,False,2
5960,2023-04-08 18:41:29.004,-1918.603538,5744.419605,3073.354355,-5.858246,0.667872,-4.897754,6056.605443,1.038587,1.893142,False,2

In [12]:
# Décompte des intervalles pour dénombrer les poussées
x = pd.Series(iss_position.get_data().query('on_thrust').index).diff()
x.groupby(x).count()

1.0    560
dtype: int64

Une seule poussée (de 1120s ≈ 19min) dans le jeu de données.